@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* :root {
  background-color: #e5d5fd;
} */
body {
  background-color: #e5d5fd;
}
@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-mainbg: #e5d5fd;
  --color-primary: #925fe2;
  --color-secondery: #925fe2;
  --color-darkbg: #7748c6;
  --color-white: #ffffff;
  --color-white02: #a29ea9;
  --color-white03: #c9aff1;

  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1700px;
}

.custom_shadow {
  box-shadow: 0 0 50px rgba(128, 90, 213, 0.15), 0 0 40px rgba(0, 0, 0, 0.05);
}
.custom_shadow02 {
  box-shadow: 0 0 20px rgba(21, 8, 49, 0.15), 0 0 20px rgba(40, 39, 39, 0.05);
}

.custom_shadow03 {
  box-shadow: 0 15px 70px rgba(21, 8, 49, 0.4);
}

.custom_sidebar {
  background: #925fe2;
  background: linear-gradient(
    0deg,
    rgba(146, 95, 226, 1) 0%,
    rgba(171, 131, 233, 1) 100%
  );
}
/* input[type="text"]::placeholder {
  padding: 10px 15px 10px 310px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #a29ea9;
} */
input[type="text"] {
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: #a29ea9;
}
